


/*Atibutos para de estilos*/

/*Corpo*/

body {
  background-color: #E1FAF7;
}
/*div geral*/
.geral{

	 border: 10px outset #68C7BC;
}


/*Links*/


/*Quando o mouse passa por cima dos links*/
a:hover {
  color: pink;
  text-decoration: none;
}
/*Link ativo/selecionado*/
a:active {
  color: yellow;
  text-decoration: none;
}


/*Títulos*/


h1 {
font-family:times,arial,helvetica;
  font-size: 40px;
  color: #000000;
  text-align: center;

}


/*Parágrafos*/


p {
  font-family:times,arial,helvetica;
  font-size: 30px;
  text-align:justify;
  color: #003832;
}


/*Imagens*/

#projeto arduino{
  width: 100%;
  border: 1px;

}
img{
width: 100%;
}


/*Listas*/


li{

	display: inline-block;
    margin: 0 0 0 15px; 
}